body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.hidden {
    display: none;
}

.balance {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: green;
}

.transaction {
    background: #f1f1f1;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}

.logout {
    background: red;
}
